@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Playpen+Sans:wght@300&family=Poppins:wght@200;300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Reddit+Mono:wght@200..900&family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.reddit-mono {
  font-family: 'Reddit Mono', monospace;
}
.Tilt{
  font-family:'Tilt Neon', "sans-serif";
}
.Lato{
  font-family: 'Lato', sans-serif;
}
.pacifico {
font-family: "Pacifico", cursive;}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
text-shadow:0 0 3px  whitesmoke;

}
html{
  overflow-x: hidden;
}



.div{
  position: relative;
 
  height: 100%;
  
  display: inline-block;
  border-radius: 25px;
  margin-left: 15px;
  animation-name: scroll;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes scroll {
  from{
      transform: translateX(0%);
  }
  to{
      transform: translateX(-100%);
  }
}
.page2 .center .center1::-webkit-scrollbar{
  display: none;
}
.menu3{
  box-shadow: 2px 2px 3px 3px rgb(203, 48, 48);
  font-family: 'Tilt Neon', "sans-serif";
}

#root{
  max-width: 100vw;
}
  .image-container {
    position: relative;
    
     margin: 10px;
    overflow: hidden;
    display: inline-block;
  }
  
  /* Style for the image */
  .image-container img {
   
    transition: transform 0.5s ease;
  }
  
  /* Style for the overlay */
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    transition: height 0.5s ease;
  }
  
  /* Style for the text inside the overlay */
  .overlay-content {
  
    transition: bottom 0.5s ease;
  }
  


  
  
   
  /* Hover effect for the overlay */ 
 .image-container:hover .overlay {
    height: 100%;
  } 

  /* Display overlay when hovered */
  .image-container:hover .overlay-content {
    bottom: 0;
  } 

  /* Scale effect for the image */
 .image-container:hover img {
    transform: scale(1.1);
  }  
  .container {
    margin: 20px auto;
    width: 300px;
}

input, button {
    display: block;
    margin: 10px 0;
    width: 100%;
    background-color: aliceblue;
}

button {
    background-color: rgb(132, 8, 8);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: relative;
  overflow: hidden;
  
  
}

button:hover  {
  border: solid rgb(132, 8, 8);
  box-shadow: 0 0 3px 3px  rgb(132, 8, 8);
  background-color: transparent;
  border: none;
  
}
#loginForm button:hover  {
  border: solid rgb(89, 166, 234);
  box-shadow: 0 0 3px 3px  rgb(89, 166, 234);
  background-color: transparent;
  border: none;
  
}
#loginForm input:hover  {
  border: solid rgb(89, 166, 234);
  box-shadow: 0 0 3px 3px  rgb(89, 166, 234);
  background-color: transparent;
  border: none;
  
}
::placeholder{
  color: rgb(56, 56, 63);
}
button:hover img{
  display: block;
}
.list:hover{
color: rgb(132, 8, 8);
}

@media(max-width:400px){
  /* html, body {
    overflow-x: hidden;
  } */
  .video{
    height:100vh;
    width:100vh;
    object-fit: cover;
    
  }
  .kfc-logo{
    height:400px;
   width:400px;

  }
  .pre-div{
    width:50vw;
    height:50vw;
  }
  .pre-img{
    width:50vw;
    height:50vw;
  }
  .menu-item{
    width:70vw;
    margin: 0 8px;
    
  }
  .hipara{
    color:white;
  }
  .browse-cate{
    padding-top:95vh;
  }
  .cont-img{
    width:60vw;
    height:30vh;
  }
  .fan-img{
    width:10px;
    height:10px;
  }
  .fanclub{
    width:60vw;
    margin-top: 15vh;
    height:30vh;
   
  }
  .social{
    gap:2vw;
  }
  .fan1{
    padding: 3vw 2vw;
    width:60%;
    
    display: flex;
    flex-wrap: wrap;

  }
  .social-para{
    line-height: 1.28rem;
  }
  .insta{
        text-align: center;
  }
  .instagram
  {
    width:50%;
    text-align: center;
  }
  .fb{
    margin-left: 0;
  }
  .ig{
    margin-left: -3.5vw;
  }
  .kfc-club{
    width:35vw;
    margin-left:0;
    height:40vh;
  }
  .city{
   width:35vw;
  }
  .navi{
    left:3px;
    transform: translateX(0);
    width:100vw;
  }
 .nav1{
  margin-left: 4px;
  gap:7px;
 }
  .nav2{
    margin-left: 35px;
    gap:7px;
  }
  .foot{
    gap:70px;
    padding:0 ;
    font-size: 2vh;
  }
  .foot2{
    gap:10vw; 
    margin:0 5vw;
  }
  .offercont{
    height:298vh;

  }
  .text-cont{
    margin-left: 4vw;
  }
  .img2{
    margin-left: 3vw;
  }
  .menu3{
    width:34vw;
    height:74vh;
    
  }
  .menu2{
    width:73vw;
  }
  .cart{
    width:200px;
    height:7.5vh;
  }
  .snickers{
    display: flex;
    flex-wrap: wrap;
    gap:3;
  }
  .menu4{
    margin-left: 0;
  }
  .image-container{
   width:230px;
  }
  .overlay-content{
    left:8%;
  }
  .menu-item-image{
    width: 100%;
    height: 100%;
  }
 
}
@media(max-width:720px){
  html, body {
    overflow-x: hidden;
  }
  .video{
    height:100vh;
    width:100vw;
    object-fit: cover;

    
  }
  .kfc-logo{
    height:300px;
   width:300px;

  }
  .pre-div{
    width:50vw;
    height:50vw;
  }
  .pre-img{
    width:50vw;
    height:50vw;
  }
  .menu-item{
    width:25rem;
    
  }
  .hipara{
    color:white;
  }
  .browse-cate{
    padding-top:15vh;
  }
  .cont-img{
    width:70vw;
    height:40vh;
  }
  .fan-img{
    width:70px;
    height:70px;
  }
  .fanclub{
    width:20vw;
    margin-top: 3vh;
   
  }
  .social{
    gap:2vw;
  }
  .fan1{
    padding: 3vw 2vw;
    width:60%;
    
    display: flex;
    flex-wrap: wrap;

  }
  .social-para{
    line-height: 1.28rem;
  }
  .insta{
        text-align: center;
  }
  .instagram
  {
    width:50%;
    text-align: center;
  }
  .fb{
    margin-left: 0;
  }
  .ig{
    margin-left: -3.5vw;
  }
  .kfc-club{
    width:35vw;
    margin-left:0;
    height:40vh;
  }
  .city{
   width:35vw;
  }
  .navi{
    left:0;
    transform: translateX(0);
    width:100vw;
    gap:2px;
  }
 .nav1{
  margin-left: 2px;
 }
  .nav2{
    margin-left: 20px;
  }
  .foot{
    gap:4vw;
    padding:0 ;
    font-size: 2vh;
  }
  .foot2{
    gap:10vw; 
    margin:0 5vw;
  }
  .offercont{
    height:298vh;

  }
  .text-cont{
    margin-left: 4vw;
  }
  .img2{
    margin-left: 3vw;
  }
  .menu3{
    width:34vw;
    height:74vh;
    
  }
  .menu2{
    width:73vw;
  }
  .cart{
    width:200px;
    height:7.5vh;
  }
  .snickers{
    display: flex;
    flex-wrap: wrap;
    gap:3;
  }
  .menu4{
    margin-left: 0;
  }
  .image-container{
   width:230px;
  }
  .overlay-content{
    left:8%;
  }
 
}